<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Error Page Start -->
  <error-page>
	<error-code>404</error-code>
	<location>/404.jsp</location>
  </error-page>
  <error-page>
	<error-code>500</error-code>
	<location>/500.jsp</location>
  </error-page>
  <!-- Error Page End -->
  
  <!-- Listener Start -->
  <!-- Listener End -->

  <!-- Filter Start -->
  <filter>
 	<filter-name>EncodingFilter</filter-name>
 	<filter-class>com.bank.filter.EncodingFilter</filter-class>
 	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
  </filter>
  <!-- Filter End -->
  
  <!-- Servlet Start -->
  <servlet>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<servlet-class>com.bank.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <!-- Servlet End -->

  
  <!-- Mapping Start -->
  <!-- Listener Mapping Start -->
  <!-- Listener Mapping End -->
  
  <!-- Filter Mapping Start -->
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <!-- Filter Mapping End -->
  
  <!-- Servlet Mapping Start -->
  <servlet-mapping>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- Servlet Mapping End -->
  <!-- Mapping End -->
</web-app>